html {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot");
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"),
    url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
}
header {
  color: rgb(63, 63, 63);
}
.container__principal {
  display: grid;
  grid-template-columns: 2fr 11fr;
  gap: 10px;
}
.titulo {
  display: inline-block;
  margin-bottom: 50px;
}
.botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.botoes a {
  text-align: center;
}

.botoes__link {
  padding: 16px 6px;
  background-color: white;
  border: 1px solid #5293c7;
  border-radius: 5px;
  text-decoration: none;
  color: #5293c7;
  transition: 0.5s;
  /* min-width: 195px; */
  display: block;
}
.botoes__link:hover {
  background-color: #5293c7;
  color: white;
}
.container_conteudo {
  grid-area: 1 / 2;
}
.conteudo {
  display: none;
  width: 85vw;
  height: 80vh;
}

.active {
  background-color: #5293c7;
  cursor: unset;
  color: white;
}
