.planilha {
  width: 90vw;
  height: 90vh;
  display: block;
}
body {
  margin: 0px;
  background-color: #4c4f5a;
}
.voltar__link {
  margin-top: 10px;
  display: inline-block;
  padding: 18px 32px;
  background-color: #838ba5;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat";
  font-style: normal;
  /* font-weight: 900; */
  color: white;
  src: url("../fonts/montserrat-v25-latin-400.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v25-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin-900.svg#Montserrat") format("svg");
}
